body
{
    background: #CCC;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.bg-oranged
{
    background-color: rgb(235, 135, 99);
}

#Header a:hover
{
    color: #ffffff;
}

hr
{
    border-width: 10px;
    margin-top: 0px;
    background-color:#eb8763;

}
div .section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 50px;
    background-color:#eb8763;
    color:#ffffff;
    margin-bottom: 0;
    width: 120px;


}


#bg-img
{
    background-image: url('../img/schreibtisch.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 800px;
}

.About
{
    margin-top: -300px;
    width: 100%;
        
}

.title{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size:x-large;
    font-weight:bold;
}

.subtitle{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size:large;
    font-weight:bold;
}

.grid-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.grid-card {    
    background-color: #FFFFFF;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    display: grid;

    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "about-header about-header"
        "about-comment about-presentation";
    grid-gap: 10px;
    padding: 10px;
}
.about_photo{     
    grid-area: about-header ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about_photo .card {
    /* position: absolute; */
    background-color:transparent;
    border:none;
    /* width: max-content; */    
}
.main_comment{
    grid-area: about-comment;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: justify;
    margin: 0;
    
}
.main_presentation{
    grid-area: about-presentation;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 0;
    margin-right: 2rem;

}

.main_presentation .card-body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main_presentation .card-body .row{
    display: flex;
    align-items:center;
    font-size:large;
}

@media only screen and (max-width:1200px){
    .grid-card {    
        background-color: rgb(248, 244, 244);
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-columns:  100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "about-header"
            "about-presentation"
            "about-comment ";
        grid-gap: 10px;
    }

    #Skills .card .card-content{
        justify-content: center;
    }
}

.card-footer {
    background-color: rgb(235, 135, 99);
    text-align: left;
    margin: 0;
    bottom:0;
}

.card-footer .fa
{
    color: #FFF;
}

#Skills {
    margin-top: 4rem;
}

#Skills .card
{
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    margin-top: 1rem;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    border:0;
}

#Skills .card-header
{
    background-color: rgb(147, 152, 153);
    border-color: rgb(235, 135, 99);
    border-width: unset;
    text-align: center;
    color: floralwhite;
    font-size: large;
    cursor: pointer;
}
#Skills .card-content{
    display: flex;
    justify-content:center;
    flex-wrap:wrap
}

#Skills .card-info{
    margin: 2rem;
    flex-basis: 43%;
}
#Skills .list-span
{
    color: rgb(235, 135, 99);
    font-family: montserrat,helvetica neue,Arial,sans-serif;
    font-size: larger;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#Skills .progress-bar {
    background-color:#e9ecef ;
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    overflow: hidden;
}

.bar-python {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}

.is-visible .bar-python {
    width: 75%;
}

.bar-php {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-php {
    width: 95%;
}

.bar-java {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-java {
    width: 60%;
}

.bar-nodejs {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-nodejs {
    width: 90%;
}

.bar-sql {
    /* animation: bar-sql-unload 8s ease forwards; */
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0%;
    border-radius: 1rem;
    transition: width 5s;
}

.is-visible .bar-sql {
    /* animation: bar-sql-load 8s ease forwards; */
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 90%;
    border-radius: 1rem;

}

.bar-html {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-html {
    width: 90%;
}

.bar-css3{
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-css3 {
    width: 90%;
}

.bar-js {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-js {
    width: 95%;
}

.bar-jquery {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-jquery {
    width: 65%;
}

.bar-bootstrap {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-bootstrap {
    width: 85%;
}

.bar-typescript {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-typescript {
    width: 60%;
}

/* Technologies */
.bar-maria_db {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-maria_db {
    width: 90%;
}

.bar-mongodb {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-mongodb {
    width: 90%;
}

.bar-expressjs {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-expressjs {
    width: 90%;
}

.bar-docker {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-docker {
    width: 85%;
}

.bar-jenkins {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-jenkins{
    width: 85%;
}

.bar-symfony {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-symfony {
    width: 95%;
}

.bar-kubernetes {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-kubernetes {
    width: 60%;
}

.bar-tf {
    background: linear-gradient(to right top,rgb(235, 135, 99),rgb(235, 135, 95));
    width: 0;
    border-radius: 1rem;
    transition: width 5s;
}
.is-visible .bar-tf {
    width: 55%;
}

/* Experience */

#Experience
{
    margin-top: 30px;
    
}

#Experience  span
{
    padding: 10px 20px 10px 20px;
}

#Experience .card
{
    display: inline-block;
    position: relative;
    width: 100%;
    border:0;
    border-radius:0.1875rem;
    text-align: justify;
    margin-top: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

#Experience .col-md-3 .card-body
{
    width: 100%;
    height: 100%;
    background-color:rgb(147, 152, 153);
    text-align: center;
    padding-top: 20%;
    color:#FFF;
    
}


#Education
{
    margin-top: 30px;
    
}

#Education  span
{
    padding: 10px 20px 10px 20px;
}

#Education .card
{   
    display: inline-block;
    position: relative;
    width: 100%;
    border:0;
    border-radius:0.1875rem;
    text-align: justify;
    margin-top: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

#Education .col-md-3 .card-body
{
    width: 100%;
    height: 100%;
    background-color:rgb(147, 152, 153);
    text-align: center;
    padding-top: 20%;
    color:#FFF;
    
}

#Education .col-md-9 .card-body
{ 
    background-color:#FFF;
    
}


#Contact {
    margin: 30px;
}

#Contact  span
{
    padding: 10px 20px 10px 20px;
}

#Contact .card {
    display: inline-block;
    position: relative;
    width: 100%;
    border:0;
    border-radius:0.1875rem;
    text-align: justify;
    margin-top: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

#Contact .card-header {
    background-color:#ffffff;
}

#Contact .btn-success
{
    background-color:  rgb(235, 135, 99);
    border: rgb(235, 135, 99);
}
